.home {
    hause{
        background: red;
    }
    bricks{
        background: yellow;
    }
}
.bricks {
    background: green;
    width: 150px;
    font-size:55px;
    border-radius: 25px;
    display: flex;
    font-weight: 700;


}
h2 {
margin:0 auto;
display: block;
text-align: center;
font-weight: 700;
text-transform: lowercase;
background: green;
display: flex;
height: 250px;
   
}